<p id="notice"><%= notice %></p>

<h1>Topics</h1>

<table>
  <thead>
    <tr>
      <th><%= t("title") %></th>
      <th colspan="100"><%= t("Manage<") %>/th>
    </tr>
  </thead>

  <tbody>
    <% @topics.sort_by {|topic| -topic.votes.count }.each do |topic| %>
      <tr>
        <td><%= link_to topic.title, topic %></td>
        <td><%= pluralize(topic.votes.count, "vote") %></td>
        <td><%= button_to '+1', upvote_topic_path(topic), method: :post %></td>
        <td><%= button_to '-1', devote_topic_path(topic), method: :post %></td>
        <td><%= link_to <%= t("delete") %>, topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_topic_path %>
<%= link_to <%= t("about") %>, about_path %>
<%= link_to "中文版", :controller => controller_name, :action => action_name, :locale => "zh-CN" %>
<%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %>
